# Ignore the virtual environment files
Lib/
Scripts/
include/
pyvenv.cfg

# Django #
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
local_settings.py

# Django stuff:
*.sqlite3
/media

# Python #
*.py[cod]
*$py.class
.Python
venv/
ENV/
env.bak/
venv.bak/

# Environments #
.env
.venv
.python-version

# Installers #
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/